node_modules
dist
*.local
*.tsbuildinfo
.DS_Store

# Terraform local state and temporary working directories
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
